<template>
  <div class="overflow-hidden">
    <NuxtLayout :transition="{
        name: 'bounce',
        mode: 'out-in'
      }">
      <NuxtLoadingIndicator /> 
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>
