<template>
    <div class="wrapper-model">
        <span class="close-modal" @click="closeModal" >&#215;</span>
        <div class="modal">
        <h2 class="modal__title active callback-form montserrat-700">{{ $t('write us') }}</h2>

        <h1 class="text-[30px] success-modal-text text-center text-[white] drukWide-500">{{ $t('successfull-submit') }}</h1>

        <h1 class="text-[30px] error-modal-text text-center text-[white] drukWide-500">{{ $t('error-submit') }}</h1>

        <form action="" @submit.prevent="submitForm(form)" class="callback-form active ">
            <div class="modal__content">
                <div class="w-full z-[10]">
                    <div class="flex error-select name items-center bg-transparent text-sm text-red-800 bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">{{ $t('error-name') }}</span>
                        </div>
                    </div>
                    <input 
                        class="border-none border-transparent focus:border-transparent focus:ring-0 !focus:shadow-none shadow-none modal__input" 
                        v-model="form.name" 
                        type="text" 
                        :placeholder="$t('name')" 
                        name="name" 
                    >
                </div>
                
                <div class="w-full z-[10]">
                    <div class="flex error-select email items-center bg-transparent text-sm text-red-800 bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">{{ $t('error-email') }}</span>
                        </div>
                    </div>
                    <input 
                        class="border-none border-transparent focus:border-transparent focus:ring-0 !focus:shadow-none shadow-none modal__input" 
                        v-model="form.email" 
                        type="email"
                        :placeholder="$t('email')" 
                        name="email"
                    >
                </div>

            </div>
            <div class="modal__item mt-[30px]">
                <div class="flex error-select message items-center bg-transparent text-sm text-red-800 bg-red-50" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <span class="font-medium">{{ $t('error-message') }}</span>
                    </div>
                </div>
                <textarea 
                    class="modal__textarea" 
                    v-model="form.message"
                    name="message" 
                    :placeholder="$t('message')"
                ></textarea>

            </div>
            <div class="modal__item mt-6 flex justify-end">
                <input type="submit" class="modal__btn montserrat-500" :value="$t('submit')">
            </div>
        </form>
    </div>
    </div>
</template>

<script setup lang="ts">

    const { showModal, toggleModal} = useModal()

    const form = ref({
        name: '',
        email: '', 
        message: ''
    })

    const closeModal = () =>{
        toggleModal()
        if (document.querySelector('.wrapper-model')?.classList.contains('active')) {
            document.querySelector('.wrapper-model')?.classList.remove('active')
            document.querySelector('body')?.classList.remove('body')
        }

        document.querySelectorAll('.callback-form').forEach(el=>el?.classList.add('active'))
        document.querySelectorAll('.callback-form')[1].classList.remove('blur')
        document.querySelector('.success-modal-text')?.classList.remove('active')
    }

    const validateForm = () => {
        if(form.value.name === "" && form.value.email === "" && form.value.message === ""){
            document.querySelector('.error-select.name')?.classList.add('active')
            document.querySelector('.error-select.email')?.classList.add('active')
            document.querySelector('.error-select.message')?.classList.add('active')
            
            return false
        } else {
            document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

            if(form.value.name === "" && form.value.email === ""){
                document.querySelector('.error-select.name')?.classList.add('active')
                document.querySelector('.error-select.email')?.classList.add('active')

                return false
            }else {
                document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

                if(form.value.email === "" && form.value.message === ""){
                    document.querySelector('.error-select.email')?.classList.add('active')
                    document.querySelector('.error-select.message')?.classList.add('active')

                    return false
                    
                } else {
                    document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))  
                    
                    if(form.value.name === ""  && form.value.message === ""){
                        document.querySelector('.error-select.name')?.classList.add('active')
                        document.querySelector('.error-select.message')?.classList.add('active')
                        return false
                        
                    }else {
                        document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

                        if(form.value.name === ""){
                            document.querySelector('.error-select.name')?.classList.add('active')

                            return false
                            
                        } else {
                            document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))
                        
                            if(form.value.email === ""){
                                document.querySelector('.error-select.email')?.classList.add('active')

                                return false
                            } else {
                                document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

                                if(form.value.message === ""){
                                   
                                    document.querySelector('.error-select.message')?.classList.add('active')

                                    return false
                                } else {
                                    document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))
                                    return true
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    const submitForm = async () => {        
        const isValid = validateForm()

        if(isValid){
            await useAsyncData('mountains', ()=>$fetch('/api/contact',{
                method:'POST',
                body: form,
                server:false
            }).then(res=>{


                document.querySelectorAll('.callback-form')[1].classList.add('blur')
                document.querySelector('.error-modal-text')?.classList.remove('active')
                document.querySelector('body')?.classList.remove('body')

                setTimeout(()=>{
                    if(document.querySelectorAll('.callback-form')[1]?.classList.contains('active')){
                        document.querySelectorAll('.callback-form').forEach(el=>el?.classList.remove('active'))
                        document.querySelectorAll('.callback-form')[1].classList.remove('blur')
                        document.querySelector('.success-modal-text')?.classList.add('active')
                        
                    } else {
                        document.querySelectorAll('.callback-form').forEach(el=>el?.classList.add('active'))
                        document.querySelector('.success-modal-text')?.classList.remove('active')
                    }

                    form.value.email = ''
                    form.value.name = ''
                    form.value.message = ''
                    
                }, 2000)

                

                setTimeout(()=>{
                    closeModal()
                }, 5000)
                })
                .catch(err=>{
                    document.querySelector('.error-modal-text')?.classList.add('active')
                })
            )
        }
    }

</script>

<style scope>

.error-modal-text{
    opacity: 0;
    position: absolute;
    z-index: -50;
    color: red;
    transition: 0.3 linear;
}

.error-modal-text.active{
    opacity: 1;
    position: unset;
    z-index: 50;
}

.error-select{
    z-index: -50;
    opacity: 0;
}

.error-select.active{
    z-index: 50;
    opacity: 1;
    position: unset;
}

.modal__input,
.modal__textarea{
    padding-top: 10px;
}

.modal__textarea{
    margin-top: 10px;
}

.callback-form{
    opacity: 0;
    position: absolute;
    transition: 0.5s linear;
    z-index: -50;
}

.callback-form.blur{
    opacity: 0.5;
}

.callback-form.active{
    opacity: 1;
    position: unset;
    z-index: 50;
}

.success-modal-text{
    opacity: 0;
    position: absolute;
    transition: 0.5s linear;
}

.success-modal-text.active{
    opacity: 1;
    position: unset;
}

.modal {
    padding: 3em !important;
    max-width: 970px !important;
    width: 100% !important;
    background: #2c2d3b !important;
    margin: auto !important;
}

.close-modal{
    color: white !important;
    position: absolute !important;
    top: 25px !important;
    right: 25px !important;
    font-size: 22px !important;
    z-index: 100 !important;
    cursor: pointer !important;
}

.modal__title{
    color: white !important;
    font-size: 30px !important;
    text-align: center !important;
    margin-bottom: 8px !important;
}

.modal__content{
    display: flex !important;
    width: 100% !important;
    gap: 20px !important; 
}

.modal__input{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    width: 100% !important;
    border-bottom: 0.5px solid #85899d !important;
    padding: 8px 0 !important;
    color: white !important;
    font-size: 18px !important;
    transition: 0.2s linear !important;
    z-index: 100;
}

.modal__input:focus{
    border-bottom: 1px solid #fff !important;
}

.modal__input::placeholder{
    color: #9398ae !important;
    transition: 0.2s linear !important;
}

.modal__input:focus::placeholder{
    color: white !important;
}

input{
    outline: none !important;
    border: none !important;
}

textarea{
    background: transparent !important; 
    transition: 0.2s linear !important;
    width: 100% !important;
    border: 0.5px solid #85899d !important;
    height: 137px !important; 
    resize: none !important;
    color: white !important;
}

textarea::placeholder{
    color: #9398ae !important;
    transition: 0.2s linear !important;
}

textarea:focus::placeholder{
    color: white !important;
    transition: 0.2s linear !important;
}

.modal__textarea:focus{
    border: 1px solid #fff !important;
}

.modal__btn{
    border: 1px solid #fff !important;
    padding: 5px 20px !important;
    color: white !important;
    font-size: 18px !important;
}

@media (max-width: 800px) {
    .modal__content{
        flex-wrap: wrap !important;
    }
    .modal{
        padding: 1em !important;
    }
}
</style>