<template>
    <div class="wrapper-model">

        <form action="#!" class="modal active">
            <span class="close-modal" @click="closeModal" >&#215;</span>
            <h2 class="modal__title drukWide-700">{{ $t('write us') }}</h2>
            <h2 class="error-modal-text"> {{ $t('error-modal-text') }}</h2>
            <div class="modal__content">
                <div>
                    <div class="flex error-select phone items-center p-4 bg-transparent text-sm text-red-800 bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">{{ $t('error-phone') }}</span>
                        </div>
                    </div>
                    <input class="modal__input" v-model="phone" type="text" required :placeholder="$t('phone')" name="name">
                </div>

                <div>
                    <div class="flex error-select email items-center p-4 bg-transparent text-sm text-red-800 bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">{{ $t('error-email') }}</span>
                        </div>
                    </div>
                    <input class="modal__input" v-model="email" type="email" required :placeholder="$t('email')" name="email">
                </div>

                <div>
                    <div class="flex error-select select items-center p-4 bg-transparent text-sm text-red-800 bg-red-50" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">{{ $t('error-service') }}</span>
                        </div>
                    </div>
                    <select class="modal__input text-center " style="text-align-last: center; width: 200px" v-model="select" >
                        <option class="modal__input-option flex justify-center text-center text-[14px]" value="" disabled selected>{{ $t('which service') }}</option>
                        <option class="modal__input-option flex justify-center text-center text-[14px]" aria-setsize="14" :value="$t('it')">{{ $t('it') }}</option>
                        <option class="modal__input-option flex justify-center text-center text-[14px]" aria-setsize="14" :value="$t('program service')">{{ $t('program service') }}</option>
                        <option class="modal__input-option flex justify-center text-center text-[14px]" aria-setsize="14" :value="$t('cuber')">{{ $t('cuber') }}</option>
                        <option class="modal__input-option flex justify-center text-center text-[14px]" aria-setsize="14" :value="$t('telecomunication')">{{ $t('telecomunication') }}</option>
                    </select>
                </div>
                
            </div>
            
            <div class="modal__item mt-6 flex justify-end">
                <input type="submit" @click="submit" class="modal__btn montserrat-500" :value="$t('submit')">
            </div>
        </form>

        <div class="toast">
            <h1 class="text-white text-center font-bold text-[20px]">{{ $t('successfull-submit') }}</h1>
        </div>
    </div>
</template>
<script setup lang="ts">
    const { showModal, toggleModal} = useModal()
    const phone = ref('');
    const email = ref('');
    const select = ref('');

    interface Forma{
        phone: String,
        email: String,
        select: string
    }
    
    const closeModal = async ():Promise<void> =>{
        toggleModal()
        if (document.querySelector('.wrapper-model')?.classList.contains('active')) {
            document.querySelector('.wrapper-model')?.classList.remove('active')
            document.querySelector('body')?.classList.remove('body')
            document.querySelector('.model')?.classList.add('active')
        } 
    }

    const phoneValue = computed({
        get: () => phone.value,
        set: (value) => (phone.value = value),
    });

    const emailValue = computed({
        get: () => email.value,
        set: (value) => (email.value = value),
    });

    const selectValue = computed({
        get: () => select.value,
        set: (value) => (select.value = value),
    });

    const validate = ():Boolean => {
        if(phoneValue.value === "" && emailValue.value === "" && selectValue.value === ""){
            document.querySelector('.error-select.phone')?.classList.add('active')
            document.querySelector('.error-select.email')?.classList.add('active')
            document.querySelector('.error-select.select')?.classList.add('active')

            return false
        } else {
            document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))
            if(phoneValue.value === "" && emailValue.value === ""){
                document.querySelector('.error-select.phone')?.classList.add('active')
                document.querySelector('.error-select.email')?.classList.add('active')
                return false
            }else {
                document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

                if(emailValue.value === "" && selectValue.value === ""){
                    document.querySelector('.error-select.email')?.classList.add('active')
                    document.querySelector('.error-select.select')?.classList.add('active')

                    return false
                } else {
                    document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

                    if(phoneValue.value === "" && selectValue.value === ""){
                        document.querySelector('.error-select.phone')?.classList.add('active')
                        document.querySelector('.error-select.select')?.classList.add('active')

                        return false
                    }else {
                        document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))
                        if(phoneValue.value === ""){
                            document.querySelector('.error-select.phone')?.classList.add('active')

                            return false
                        } else {
                            document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))
                        
                            if(emailValue.value === ""){
                                document.querySelector('.error-select.email')?.classList.add('active')

                                return false
                            } else {
                                document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))

                                if(selectValue.value === ""){
                                    document.querySelector('.error-select.select')?.classList.add('active')

                                    return false
                                } else {
                                    document.querySelectorAll('.error-select').forEach(el=>el?.classList.remove('active'))
                                    
                                    return true
                                }
                            }
                        }
                    }
                }
                
            } 
        
        }
    }

    const submit = async(e: any)=>{
        e.preventDefault();
        const validatation:Boolean = validate()

        if(validatation){
            const form:Forma = {
                phone: phoneValue.value,
                email: emailValue.value,
                select: selectValue.value
            }

            await useAsyncData('mountains', () => $fetch('/api/contact', {
                method:'POST',
                body: form,
            }).then(res=>{
                setTimeout(()=>{
                    document.querySelector('.modal')?.classList.remove('active')
                    document.querySelector('.toast')?.classList.add('active')
                }, 1000)
                setTimeout(()=>{
                    document.querySelector('.toast')?.classList.remove('active')
                    phoneValue.value = ''
                    emailValue.value = ''
                    selectValue.value = ''
                    closeModal()
                }, 2800)

                
                document.querySelector('.error-modal-text')?.classList.remove('active')
            }).catch(err=>{
                document.querySelector('.error-modal-text')?.classList.add('active')
            }))
        }
    }
</script>
<style>

.error-modal-text{
    opacity: 0;
    position: absolute;
    z-index: -50;
    color: red;
    transition: 0.3 linear;
}

.error-modal-text.active{
    opacity: 1;
    position: unset;
    z-index: 50;
}
    
.toast{
    opacity: 0 !important;
    z-index: -50;
    position: absolute;
    transform: scale(0);
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.275);
    padding: 20px;
    background: #000000bc;
    width: max-content;
}

.toast.active{
    opacity: 1 !important;
    z-index: 50;
    border-radius: 10px;
    overflow: hidden;
    position: unset;
    transform: scale(1);
}

.error-select{
    opacity: 0 !important;
    max-height: 0 !important;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.error-select.active{
    opacity: 1 !important;
    max-height: 0 !important;
    overflow: visible;
    margin: 0 !important;
    padding: 15px 10px !important;
}

.modal {
    padding: 30px !important;
    max-width: 580px !important;
    width: 100% !important;
    background: #171E36 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    border-radius: 20px !important;
    transition: 1s linear !important;
    transform: scale(0.8);
    position: absolute;
    opacity: 0;
    z-index: -100 !important;
}

.modal.active{
    transform: scale(1);
    position: unset;
    opacity: 1;
    z-index: 10 !important;
}

.close-modal{
    color: white !important;
    font-size: 22px !important;
    z-index: 100 !important;
    cursor: pointer !important;
    width: max-content;
    margin-left: auto;
}

.modal__title{
    color: white !important;
    font-size: 30px !important;
    text-align: center !important;
    margin-bottom: 8px !important;
    font-weight: 700;
    text-transform: uppercase;
}

.modal__content{
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    gap: 15px !important; 
}

.modal__input{
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.30) !important;
    border-radius: 100px !important;
    outline: none !important;
    width: 100% !important;
    padding: 8px 0 !important;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 18px !important;
    transition: 0.2s linear !important;
    text-align: center;
    text-align: -webkit-center;
}

select{
    background-position: 80% center;
    background-color: transparent;
    padding-left: 2.5rem;
}


.modal__input-option{
    text-align: center;
}

.modal__input:focus{
    border: 1px solid #fff !important;
}

.modal__input::placeholder{
    color: #9398ae !important;
    transition: 0.2s linear !important;
    text-align: center;
}

.modal__input:focus::placeholder{
    color: white !important;
}

input{
    outline: none !important;
    border: none !important;
}

textarea::placeholder{
    color: #9398ae !important;
    transition: 0.2s linear !important;
}

textarea:focus::placeholder{
    color: white !important;
    transition: 0.2s linear !important;
}

.modal__textarea:focus{
    border: 1px solid #fff !important;
}

.modal__btn{
    border: none !important;
    width: 100% !important;
    border-radius: 100px;
    background: linear-gradient(135deg, #AD00FF 0%, #00D1FF 100%);
    padding-top: 13px;
    padding-bottom: 13px;
    color: white !important;
    font-size: 18px !important;
}


@media(max-width: 700px){
    select{
        background-position: 95% center !important;
    }

    select{
        

    }

    .modal__input::placeholder{
        font-size: 14px !important;
    }

    .modal__input{
        font-size: 14px !important;
    }
}

@media (max-width: 800px) {
    .modal__content{
        flex-wrap: wrap !important;
    }
    .modal{
        padding: 1em !important;
    }
    .modal__title{
        font-size: 20px !important;
    }
}
</style>