<template>
    <div class="footer py-[30px] mt-[58px] max-[655px]:mt-[30px] min-[655]:mt-[58px]  px-16 max-[655px]:px-[20px] w-full ">
        
        <div class="flex max-[655px]:flex-col min-[655px]:items-center justify-between">
            <a href="/" class="logo orbitron-400 max-[655px]:text-[26px] text-white text-[40px]" >Sditanov</a>
            
            <div class="flex flex-row max-[655px]:hidden items-center max-[655px]:my-[30px] gap-[24px]">

                <ul v-if="windowWidth > 930" class="flex flex-wrap gap-4">
                    <li><a href="#!" class=" flex montserrat-500 text-white">{{ $t('about') }}</a></li>
                    <li><a href="#!" class=" flex montserrat-500 text-white">{{ $t('compentent') }}</a></li>
                    <li><a href="#!" class=" flex montserrat-500 text-white">{{ $t('contacts') }}</a></li>
                </ul>

                <div v-if="windowWidth > 655"  class="z-[4] flex items-center gap-4">
                    <button @click="toggleShowModal" class=" gradient-border-mask border-1 py-[13px] px-[20px] rounded-full montserrat-500 text-white">{{ $t('callback') }}</button>
                </div>

            </div>

        </div>

        <div class="flex max-[655px]:flex-col-reverse  flex-wrap justify-between max-[655px]:gap-[30px] gap-3 mt-[20px]">
            <p class="text-[#ffffff5a] montserrat-400 text-[12px]">{{ $t('copy right') }}</p>
            <div v-if="windowWidth < 655" class="z-[4] flex items-center gap-4">
                <button @click="toggleShowModal" class="gradient-border-mask border-1 py-[13px] px-[20px] rounded-full montserrat-500 text-white">{{ $t('callback') }}</button>
            </div>
            <ul class="flex max-[655px]:flex-col-reverse  gap-[20px]">
                <li><a href="mailto: support@sditanov.com" class="text-white text-[12px] montserrat-400 flex items-center gap-2" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g opacity="0.5">
                            <path d="M7 9L12 12.5L17 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2 17V7C2 6.46957 2.21071 5.96086 2.58579 5.58579C2.96086 5.21071 3.46957 5 4 5H20C20.5304 5 21.0391 5.21071 21.4142 5.58579C21.7893 5.96086 22 6.46957 22 7V17C22 17.5304 21.7893 18.0391 21.4142 18.4142C21.0391 18.7893 20.5304 19 20 19H4C3.46957 19 2.96086 18.7893 2.58579 18.4142C2.21071 18.0391 2 17.5304 2 17Z" stroke="white" stroke-width="1.5"/>
                        </g>
                    </svg>
                    <span>support@sditanov.com</span>
                </a></li>
                <li><a href="tel: +998 33 123-45-67" class="text-white text-[12px] montserrat-400 flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g opacity="0.5">
                            <path d="M16.9606 14.3397L13.6084 14.9893C11.3438 13.8529 9.94535 12.5472 9.13133 10.5122L9.75813 7.15025L8.57373 4H5.52035C4.60213 4 3.87928 4.75867 4.01685 5.6663C4.35874 7.93171 5.36812 12.0401 8.31732 14.9893C11.4147 18.0866 15.8763 19.4305 18.3314 19.9654C19.2797 20.1713 20.1206 19.4322 20.1206 18.461V15.5436L16.9606 14.3397Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                    <span>+998 33 123-45-67</span>
                </a></li>
            </ul>
        </div>
    </div>
</template>
<script setup lang="ts">
    const { locales, locale, setLocale } = useI18n()

    const { windowWidth } = useResponsive();
    
    const language = computed({
        get: () => locale.value,
        set: (value) => setLocale(value)
    })
    
    const toggleShowModal = ()=>{
        if (document.querySelector('.wrapper-model')?.classList.contains('active')) {
            document.querySelector('body')?.classList.remove('body')
            document.querySelector('.wrapper-model')?.classList.remove('active')
            document.querySelector('.modal')?.classList.add('active')
        } else {
            document.querySelector('body')?.classList.add('body')
            document.querySelector('.modal')?.classList.add('active')
            document.querySelector('.wrapper-model')?.classList.add('active')
            document.querySelector('body')?.classList.add('body')
        }
    }
</script>
<style lang="">
    
</style>