<template>
    <div :class="[{'bg-[#0000001a] fixed top-0 w-full z-50': isScrolled}]">
        <div class="z-20 header py-5 top-0 px-16 max-[655px]:px-[20px] w-full border-y border-y-[#ffffff1a]"
            :class="[windowWidth <= 900 && isBarOpen ? 'fixed' : 'absolute', {'header-fixed': isScrolled}]"
        >
        <div class="flex items-center justify-between">

            <div class="z-[3]" v-if="windowWidth <= 900">
                <button class="text-white flex" @click="toggleBarModal">
                    <img v-if="isBarOpen" src="~/assets/img/multiple.svg" alt="" />
                    <img v-else src="~/assets/img/bar-icon.svg" alt="" />
                </button>
            </div>

            <div class="z-[3]">
                <a href="/" class="logo max-[500px]:text-[26px] orbitron-400 capitalize text-white text-[40px]">Sditanov</a>
            </div>
            
            <div :class="windowWidth > 900 ? 'flex items-center transition duration-300' : isBarOpen ? 'fixed flex flex-col transition duration-300 justify-between h-screen w-full scroll-m-0 -z-[-2] top-[0] pt-[90px] pb-[50px] px-5 right-0 bg-[#040B16]' : 'fixed flex flex-col transition duration-300 justify-between h-screen w-full -z-[-2] -top-[1000%] pt-[90px] pb-[50px] px-5 right-0 bg-[#040B16] '" >
                <ul v-if="windowWidth < 900" class="flex flex-col gap-4"  >
                    <li><a href="#!" class="h-[44px] flex montserrat-500 text-white">{{ $t('about') }}</a></li>
                    <li><a href="#!" class="h-[44px] flex montserrat-500 text-white">{{ $t('compentent') }}</a></li>
                    <li><a href="#!" class="h-[44px] flex montserrat-500 text-white">{{ $t('contacts') }}</a></li>
                </ul>
                <LazyLanguageSwicher />
            </div>  

            <div class="z-[4] flex items-center gap-4">
                <button v-if="windowWidth > 900" @click="toggleShowModal" class=" gradient-border-mask border-1 px-[20px] rounded-full montserrat-500 text-white">{{ $t('callback') }}</button>
                <div class="relative switcher">
                    <button class="rounded-full relative z-[50] w-[50px] h-[50px] max-[500px]:w-[40px] max-[500px]:h-[40px] text-white  language  bg-[#171E36]">
                        {{ locale }}
                    </button>
                    <ul class="lang-switcher !text-white  lang-switcher-item justify-center w-[50px] bg-[#171E36]  absolute ">
                        <li @click="language(lang.code)" :value="lang.code" v-for="lang in locales.filter(el=>el.code !== locale)" :key="lang.code" >{{ lang.code }}</li>
                    </ul>
                </div>
                
                
            </div>
            
        </div>
    </div>
    </div>
</template>

<script setup lang="ts">
    const { isBarOpen, toggleBar } = useToggle();
    const { windowWidth } = useResponsive();
    const { locales, locale, setLocale } = useI18n()
    const language = (value:string)=> setLocale(value)
    const { isScrolled } = useScroll()
    
    const toggleBarModal = ()=>{
        toggleBar()
        if (isBarOpen.value) {
            document.querySelector('body')?.classList.add('body')
        } else {
            document.querySelector('body')?.classList.remove('body')
        }
    }
    const toggleShowModal = ()=>{
        if (document.querySelector('.wrapper-model')?.classList.contains('active')) {
            document.querySelector('body')?.classList.remove('body')
            document.querySelector('.wrapper-model')?.classList.remove('active')
            document.querySelector('.modal')?.classList.add('active')
        } else {
            document.querySelector('body')?.classList.add('body')
            document.querySelector('.modal')?.classList.add('active')
            document.querySelector('.wrapper-model')?.classList.add('active')
            document.querySelector('body')?.classList.add('body')
        }
    }


    
    
</script>

<style scoped>
    .header-fixed{
        background: #0000001a;
        backdrop-filter: blur(15px);
    }
    .switcher{
       width: 50px;
    }
    
    .lang-switcher{
        position: absolute;
        width: 50px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        top: 10px;
        z-index: -20;
        opacity: 0;
        transition: 0.2s linear;
        cursor: pointer;
    }

    @media(max-width: 500px){
        .lang-switcher{
            width: 40px;
        }
    }
    
    .language{
        transition: 0.1s linear;
    }
    .switcher:hover .language{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .switcher:hover .lang-switcher{
        opacity: 1;
        top: 40px;
    }
</style>