<template>
    <div class="home relative z-[2] w-full" >
        <div class="relative home-content h-screen flex w-full items-center" >

            <div v-if="videoLoader">
                <video v-if="windowWidth > 600" class="home-bg absolute leading-none -z-[2] top-0 r-0 w-full" preload="auto" autoplay muted loop :playsinline="true">
                    <source src="~/assets/img/homeBackground.mp4" type="video/mp4">
                </video>

                <img v-else src="~/assets/img/homeBackground1.gif" class="home-bg absolute leading-none -z-[2] top-0 r-0 w-full" alt="">
            
            </div>

            <div v-else >
                <img  src="~/assets/img/homeBackground.webp" class="home-bg absolute leading-none -z-[2] top-0 r-0 w-full" alt="">
            </div>
            

            <h1 class="text-[75px] home-title  mx-auto mt-10 w-[80%] drukWide-500 max-[438px]:text-[16px] px-16 max-[658px]:text-[25 px] text-white max-[803px]:text-[25px] max-[963px]:text-[40px] max-[1223px]:text-[50px] max-[1283px]:text-[60px] max-[1443px]:text-[70px] max-[656px]:px-5 max-[656px]:text-[22px] max-[656px]:w-[95%] uppercase max-[438px]:leading-[150%] leading-[125%]">
                {{ $t("evolution") }}
            </h1>
            
        </div>
        <div class="w-full px-16 max-[655px]:px-[20px]  ">
            <div class="border-y border-y-[#ffffff1a] gap-[24px] flex  max-[655px]:justify-between items-center  text-white max-[655px]:py-2 py-5">
                <a href="#!" class="uppercase montserrat-500 max-[655px]:text-[14px] text-[20px] ">{{ $t('sditanov') }} </a><span class="max-[655px]:rotate-90 mb-[5px] text-[24px] text-[#00D1FF]">&#8594;</span>
            </div>
        </div>
        <div class="flex  max-[900px]:flex-col bg-gradient-to-t from-[#000000d5] to-[#00000024]">
            <div class="p-16 max-[900px]:py-[30px] max-[1242px]:text-[35px] max-[655px]:p-5 montserrat-400 max-[900px]:w-full text-[42px]  max-[900px]:text-[24px] w-1/2  text-white">
                <p>
                    {{ $t('about company 1') }}
                </p> 
            </div>
            <div class="p-16 home-cover-text max-[655px]:p-5 leading-[150%] max-[900px]:w-full w-1/2 text-[20px] montserrat-400 max-[900px]:text-[16px] border-s border-s-[#ffffff1a] text-white">
                <p class="home-text max-[900px]:py-[30px]">
                    {{ $t('about company 2') }}
                    <br><br>
                    {{ $t('about company 3') }}
                    <br><br>
                    {{ $t('service') }}
                </p>
            </div>
        </div>
        
        <Realize />
    </div>
</template>

<script setup lang="ts">
    const { windowWidth } = useResponsive();

    const videoLoader = ref(false)

    onMounted(()=>{
        videoLoader.value = true
    })


</script>
<style scoped>
    .home-content {
            width: 100%;
        }

   @media (max-width: 1224px) {
        .home-content {
            height: 500px;
        }
   }

   @media (max-width: 900px){
        .home-cover-text{
            border-left: unset;
            padding-bottom: 0;
            padding-top: 0;

        }
        .home-text{
            border-top: 1px solid #ffffff1a;
        }
   }

   @media (max-width: 738px) {
        .home-content {
            height: 400px;
        }
   }
   @media (max-width: 624px) {
        .home-content {
            height: 300px;
        }
   }


   @media (min-width: 1496px) {
        .home-title{
            max-width: 80%
        }
    }
</style>