<template>
    <div v-if="windowWidth < 900 || isFooter" class="flex flex-col items-start gap-[30px]">

        <button type="button" @click="toggleShowModal" class="gradient-border-mask  py-[13px] rounded-full montserrat-500  text-white">{{ $t('callback') }}</button>

        <ul class="flex space-x-4">
            <li v-for="lang in locales" 
                :key="lang.code" 
                :class="{ 'bg-[#26325afa]': language === lang.code }"
                @click="setLocale(lang.code)"
                class="cursor-pointer border flex items-center justify-center text-white rounded-full w-[40px] h-[40px] montserrat-500"
            >
                {{ lang.code }}
            </li>
        </ul>
        
        <div class="flex flex-wrap justify-between gap-3">
            <p class="text-[#ffffff5a] montserrat-400 text-[12px]">{{ $t('copy right') }}</p>
        </div>
    </div>
    

</template>
<script setup lang="ts">
    const { locales, locale, setLocale } = useI18n()
    const { windowWidth } = useResponsive();

    const language = computed({
        get: () => locale.value,
        set: (value) =>  setLocale(value)
    })

    const props = defineProps({
        isFooter: Boolean
    })
    
    const toggleShowModal = ()=>{
        if (document.querySelector('.wrapper-model')?.classList.contains('active')) {
            document.querySelector('body')?.classList.remove('body')
            document.querySelector('.wrapper-model')?.classList.remove('active')
            document.querySelector('.modal')?.classList.add('active')
        } else {
            document.querySelector('body')?.classList.add('body')
            document.querySelector('.modal')?.classList.add('active')
            document.querySelector('.wrapper-model')?.classList.add('active')
        }
    }
</script>
<style>
    .k{
        color: #26325afa;
    }
</style>