<template>
    <div class="realize flex flex-col relative z-[3]" >
        <div>
            <video class=" w-full" preload="auto" controls autoplay loop muted  playsinline>
                <source src="~/assets/img/realizeBackground.mp4" type="video/mp4">
            </video>
            
        </div>

        <div class="w-full px-16 max-[655px]:px-[20px]  ">
            <div class="border-y border-y-[#ffffff1a] gap-[24px] flex  max-[655px]:justify-between items-center  text-white max-[655px]:py-2 py-5">
                <a href="#!" class="uppercase montserrat-500 max-[655px]:text-[14px] text-[20px] ">
                   {{ $t('compentent') }}
                </a><span class="max-[655px]:rotate-90 mb-[5px] text-[24px] text-[#00D1FF]">&#8594;</span>
            </div>
        </div>
     </div>
     
     
 </template>

<script setup lang="ts">
    const { windowWidth } = useResponsive();

</script>
 