<template>
  <div class="px-16 my-swiper mt-[60px]">
    <Swiper 
      :slide-to-clicked-slide="true" 
      :slides-per-view="'auto'" 
      :grab-cursor="true"
      :space-between="20" 
      :coverflow-effect="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      }" 
      class="mySwiper" 
      :initialSlide="0" 
      :breakpoints="{
        0:{
          slidesPerView: 1.3,
        },
        460:{
          slidesPerView: 1.5,
        },
        750:{
          slidesPerView: 2,
        },
        900:{
          slidesPerView: 2.5,
        },
        1200: {
          slidesPerView: 3,
        },
        1320: {
          slidesPerView: 3.9
        },
        1470: {
          slidesPerView: 4
        }

    }"
  >
      <SwiperSlide>
        <div class="bg-[#ffffff1a] w-full z-[6]  transition duration-[100] group ">
          <div class="swiper-contents p-[30px]">
            <h3 class="text-white swiper-title  montserrat-700  uppercase ">
              {{ $t('it') }}
            </h3>
            <p class="text-[#ffffff80] swiper-text montserrat-400  text-[18px]">
              {{ $t('project') }}
            </p>
          </div>
          
          <div class="swiper-image-box">
            <img src="~/assets/img/machine1.webp" alt="" class="swiper-image ">
          </div>
        </div>
      </SwiperSlide>
      <SwiperSlide>
        <div class="bg-[#ffffff1a] w-full z-[6] transition duration-[100] group ">
          <div class="swiper-contents p-[30px]">
            <h3 class="text-white swiper-title montserrat-700  uppercase ">
              {{ $t('program service') }}
            </h3>
            <p class="text-[#ffffff80] swiper-text montserrat-400 ">
              {{ $t('develop') }}
            </p>
          </div>

          <div class="swiper-image-box">
            <img src="~/assets/img/machine2.webp" alt="" class="swiper-image ">
          </div>
        </div>

      </SwiperSlide>
      <SwiperSlide>
        <div class="bg-[#ffffff1a] w-full z-[6]  transition duration-[100] group">
          <div class=" swiper-contents p-[30px]">
            <h3 class="text-white swiper-title   montserrat-700  uppercase  ">
              {{ $t('cuber') }}
            </h3>
            <p class="text-[#ffffff80] swiper-text montserrat-400 ">
              {{ $t('system') }}
            </p>
          </div>

          <div class="swiper-image-box">
            <img src="~/assets/img/machine3.webp" alt="" class="swiper-image ">
          </div>
        </div>

      </SwiperSlide>
      <SwiperSlide>
        <div class="bg-[#ffffff1a] w-full z-[6]  transition duration-[100] group">
          <div class=" swiper-contents p-[30px]">
            <h3 class="text-white swiper-title montserrat-700 uppercase  ">
              {{ $t('telecomunication') }}
            </h3>
            <p class="text-[#ffffff80] swiper-text montserrat-400">
              {{ $t('structure') }}
            </p>
          </div>

          <div class="swiper-image-box">
            <img src="~/assets/img/machine4.webp" alt="" class="swiper-image ">
          </div>
        </div>

      </SwiperSlide>
    </Swiper>
  </div>
</template>

<script setup lang="ts">
  
</script>

<style scoped>
.swiper {
  overflow: visible;
}

.swiper-contents{
  height: 222px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  transition: 0.2s;
  cursor: pointer;
}

.swiper-slide>.group {
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide>.group .swiper-image-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.swiper-text {
  font-size: 18px !important;
}


/* width */
::-webkit-scrollbar {
  width: 0px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  display: none !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  display: none !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  display: none !important;
}

.swiper-title {
  font-size: 22px !important;
}

@media(max-width: 1400px){
  .swiper-title{
    font-size: 20px !important;
  }
}

@media (max-width: 750px) {
  .swiper-title{
    font-size: 18px !important;
    word-wrap: break-word;
  }

  .swiper-slide.swiper-slide-active{
    transform: scale(102%) !important;
    background: #ffffff2a;
  }
}

@media (max-width: 655px) {
  .my-swiper{
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  .swiper-title{
    font-size: 18px !important;
  }
}

@media (max-width: 567px){
  .swiper-title{
    font-size: 16px !important;
  }
  .swiper-text{
    font-size: 16px !important;
  }
  .swiper-contents{
    padding: 20px !important;
  }
}

@media (max-width: 550px){
  .swiper-contents{
    height: 132px !important;
    padding: 20px !important;
  }
  
  .swiper-text{
    font-size: 12px !important;
  }

  .swiper-title{
    font-size: 15px !important;
  }
}

@media (max-width: 404px) {
  .swiper-title{
    font-size: 15px !important;
  }
  .swiper-contents{
    min-height: 132px !important;
    max-height: 132px !important;
    padding: 12px !important;
  }
}

@media (max-width: 362px) {
  .swiper-title{
    font-size: 14px !important;
  }
  .swiper-text{
    font-size: 12px !important;
  }
}


@media(min-width: 750px){
  .swiper-slide:hover {
    transform: scale(1.05) !important;
    background: #ffffff2a !important;
    filter: brightness(1.3) !important;
  }
}

</style>