@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000 !important; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    outline: none !important;
}

@font-face {
    font-family: 'DrukWide';
    src: url('~/assets/fonts/DrukWide.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'DrukWide';
    src: url('~/assets/fonts/druktextwidecyr-medium.ttf');
    font-weight: 500;
}


.orbitron-400 {
    font-family: 'Orbitron';
    font-weight: 400;
}

.drukWide-700 {
    font-family: 'DrukWide';
    font-weight: 700;
}

.drukWide-500 {
    font-family: 'DrukWide';
    font-weight: 500;
    font-style: normal;
}

.montserrat-400 {
    font-family: 'Montserrat' !important;
    font-weight: 400 !important;
}

.montserrat-500 {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
}

.montserrat-700 {
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
}

.gradient-border-mask {
    position: relative;
    padding: 13px 20px;
}


.gradient-border-mask {
    padding-left: 50px;
    padding-right: 50px;
}

.gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    border: 1px solid transparent;
    background: linear-gradient(45deg, #AD00FF, #00D1FF) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}


.wrapper-model{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0%;
    left: 0;
    z-index: -50;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s linear;
    opacity: 0;
}

.wrapper-model.active{
    opacity: 1;
    z-index: 50;
}

body.body {
    overflow: hidden;
}

.toast{
    opacity: 0 !important;
    z-index: -50;
    position: absolute;
    transform: scale(0);
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.275);
    width: 300px;
}

.toast.active{
    opacity: 1 !important;
    z-index: 50;
    border-radius: 10px;
    overflow: hidden;
    position: unset;
    transform: scale(1);
}

.error-select{
    opacity: 0 !important;
    max-height: 0 !important;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.error-select.active{
    opacity: 1 !important;
    max-height: 0 !important;
    overflow: visible;
    margin: 0 !important;
    padding: 15px 10px !important;
}
.modal {
    padding: 30px !important;
    max-width: 584px !important;
    width: 100% !important;
    background: #171E36 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    border-radius: 20px !important;
    transition: 1s linear !important;
    transform: scale(0.8);
    position: absolute;
    opacity: 0;
    z-index: -100 !important;
}

.modal.active{
    transform: scale(1);
    position: unset;
    opacity: 1;
    z-index: 10 !important;
}

.close-modal{
    color: white !important;
    font-size: 22px !important;
    z-index: 100 !important;
    cursor: pointer !important;
    width: max-content;
    margin-left: auto;
}


body.body {
    overflow: hidden;
}