<template>

    <div class="bg-[#040B16]">
        <div class="loading active">
            <LazyLoadingPage />
        </div>
        
        <div class="welcome" >
            <LazyHeader />
            <slot />
            <LazyFooter/>
            <LazyCallBackForm />
        </div>
    </div>
</template>
<script setup lang="ts">
    const loader = ref(false)

    onMounted(()=>{
        loader.value = true

        setTimeout(()=>{
            if(loader.value){
                document.querySelector('.loading')?.classList.remove('active')
                document.querySelector('.welcome')?.classList.add('active')
            }
        }, 1000)
        

    })
</script>
<style scoped>
    .loading {
        transition: all 0.5s linear;
        opacity: 0;
        z-index: -999;
        position: absolute;
        background-image: url('~/assets/img/homeBackground.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .loading.active{
        opacity: 1;
        z-index: 9;
        position: unset;
    }

    .welcome{
        transition: all 1s linear;
        opacity: 0;
    }

    .welcome.active{
        opacity: 1;
        transition: all 1s linear;
    }
</style>